# Include the README in the source distribution
include README.md

# Include a LICENSE file if you have one
# include LICENSE

# If you have a 'build' folder from the React frontend,
# recursively include all its contents
recursive-include deployment_setup/frontend/build *

# If your Python backend uses static files or templates:
recursive-include deployment_setup/docs *
recursive-include deployment_setup/deploy.sh

# If you want to include any other non-Python files (e.g., config, YAML),
# add lines similarly, for example:
# include config.yaml
# recursive-include deployment_setup/backend/config *